<div class="advantages">
	<div class="container">
		<div class="list">
			<div class="title">НАШИ ПРЕИМУЩЕСТВА</div>
			<div class="row">
				<div class="item">
					<div class="box">
						<div class="info">
							<span>Цены ниже,<br> чем у конкурентов</span>
							<i class="icon-cart"></i>
						</div>
						<div class="text">
							Работаем напрямую<br>
с производителями
						</div>
					</div>
				</div>
				<div class="item">
					<div class="box">
						<div class="info">
							<span>
								100% гарантия<br>возврата  денег
							</span>
							<i class="icon-money"></i>
						</div>
						<div class="text">
							Если товар не понравился,<br>
мы делаем полный возврат
						</div>
					</div>
				</div>
				<div class="item">
					<div class="box">
						<div class="info">
							<span>Работаем по всему<br>Казахстану</span>
							<i class="icon-freedom"></i>
						</div>
						<div class="text">
							Доставляем товар в<br>
любой регион Казахстана
						</div>
					</div>
				</div>
				<div class="item">
					<div class="box">
						<div class="info">
							<span>Оригинальные <br>товары</span>
							<i class="icon-original"></i>
						</div>
						<div class="text">
							Мы сотрудничаем только с<br>
проверенными брендами
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>